<!-- <app-students *ngIf="rout.url=='/'"></app-students>
<router-outlet></router-outlet> -->
<!-- <button class="btn btn-info" (click)="register()">Register</button><br><br>
<button class="btn btn-info">Login</button> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-employee-detail></app-employee-detail> -->
<div class="container root">
  <div class="row">
    <div class="col-12">
      <app-employee-detail></app-employee-detail>
      <!-- <app-employee-list></app-employee-list> -->
    </div>
  </div>
</div>
