<div class="container">
  <div class="row">
    <div class="col-12">
      <ul [ngSwitch]="superhero">
        <li *ngSwitchCase="'Groot'"></li>
        <li *ngSwitchCase="'Ironman'">Ironman</li>
        <li *ngSwitchCase="'Hulk'">Hulk</li>
        <li *ngSwitchCase="'Thor'">Thor</li>
        <li *ngSwitchDefault>Please Select Correct one</li>
      </ul>
    </div>
    <div class="col-12">
      <div class="card card-block" *appChangeColer="false">
        dfdehjty
      </div>
    </div>
  </div>
</div>
